.mainbanner {
  height: 550px;
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbanner .maintitle {
  color: white;
}

.mainbanner .maintitle p {
  font-size: 18px;
  font-weight: 500;
}

.mainbanner .maintitle h1 {
  font-size: 32px;
  line-height: 45px;
  font-weight: bold;
}
