@charset "UTF-8";

#sub_banner {
  background: url('../img/management/sub_bg.jpg') no-repeat center center;
  background-size: cover;
}

.notice {
  text-align: right;
  color: #3a79db;
  line-height: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}

.announce_list {
  float: left;
  width: 23.75%;
  margin-right: 1.5%;
  margin-bottom: 30px;
  min-height: 250px;
}

.announce_list:nth-of-type(4n) {
  margin-right: 0;
}

.announce_list h3 {
  display: block;
  border-top: 1px solid #494a4e;
  border-bottom: 1px solid #d3d4d8;
  background: #f5f6f7;
  line-height: 43px;
  color: #222222;
  margin: 0;
  text-align: center;
}

.announce_list ul {
  padding: 20px 10px;
  margin: 0;
}

.announce_list > ul > li {
  background: url('../img/management/dot1.png') no-repeat 0 10px;
  padding-left: 13px;
  line-height: 1.6em;
  color: #444444;
}

.announce_list > ul > li > a {
  color: #444444;
  font-weight: 400;
  /* display: block; */
}

.announce_list > ul > li > a:hover {
  color: #3a73db;
  text-decoration: underline;
}

.announce_list ul li ul {
  padding: 0;
}

.announce_list ul li ul li {
  padding-left: 17px;
  line-height: 1.6em;
  background: url('../img/management/line1.gif') no-repeat 0 12px;
}

.announce_list ul li ul li a {
  color: #444444;
  font-weight: 300;
}

.announce_list ul li ul li:hover a {
  color: #3a73db;
  text-decoration: underline;
}

.announce_link {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.announce_link ul li {
  display: inline-block;
  margin: 10px;
}
